In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\Administrateur\\Desktop\\Data\\DATA'

In [3]:
os.chdir(r'C:\Users\Administrateur\Desktop\PROJET POKEMON !!')

In [4]:
os.getcwd()

'C:\\Users\\Administrateur\\Desktop\\PROJET POKEMON !!'

In [5]:
import pandas as pd

In [6]:
# names=['id_pokemon','nom_pokemon','Name', 'taille', 'poids', 'Pre-Test Score', 'Points de vie de base','Attaque de base','Défense de base','Attaque spéciale de base','Défense spéciale de base','Vitesse de base']

In [22]:
df_csv = pd.read_csv('pokemon.csv')

In [23]:
df_csv

     web-scraper-order web-scraper-start-url pokemon_normaux pokemon_normaux-href id_pokemon nom_pokemon taille poids     Points de vie de base  Attaque de base  Défense de base  Attaque spéciale de base  Défense spéciale de base  Vitesse de base Type_pokemon1-src
0     153053...         https:...                Regice       https:...            #378          Regice   1.8 m   175 kg  80                      50              100              100                       200                        50              https:...
1     153053...         https:...               Maganon       https:...            #467         Maganon   1.6 m    68 kg  75                      95               67              125                        95                        83              https:...
2     153053...         https:...             Excava...       https:...            #660       Excava...     1 m  42.4 kg  85                      56               77               50                        77                        78              https:...
3     153053...         https:...              Sepiatop       https:...            #686        Sepiatop   0.4 m   3.5 kg  53                      54               53               37                        46                        45              https:...
4     153053...         https:...             Métalosse       https:...            #376       Métalosse   1.6 m   550 kg  80                     135              130               95                        90                        70              https:...
...         ...               ...                   ...             ...                  ...        ...     ...      ...        ...                    ...              ...              ...                       ...                       ...              ...
1196  153053...         https:...                 Yanma       https:...            #193           Yanma   1.2 m    38 kg  65                      65               45               75                        45                        95              https:...
1197  153053...         https:...               Créhelf       https:...            #480         Créhelf   0.3 m   0.3 kg  75                      75              130               75                       130                        95              https:...
1198  153053...         https:...              Bazoucan       https:...            #733        Bazoucan   1.1 m    26 kg  80                     120               75               75                        75                        60              https:...
1199  153053...         https:...             Matelo...       https:...            #502       Matelo...   0.8 m  24.5 kg  75                      75               60               83                        60                        60              https:...
1200  153053...         https:...             Farfad...       https:...            #547       Farfad...   0.7 m   6.6 kg  60                      67               85               77                        75                       116              https:...

[1201 rows x 15 columns]

In [24]:
df=df_csv[['id_pokemon','nom_pokemon', 'taille', 'poids', 'Points de vie de base','Attaque de base','Défense de base','Attaque spéciale de base','Défense spéciale de base','Vitesse de base','Type_pokemon1-src']]

In [25]:
df.sort_index()

     id_pokemon nom_pokemon taille poids     Points de vie de base  Attaque de base  Défense de base  Attaque spéciale de base  Défense spéciale de base  Vitesse de base Type_pokemon1-src
0     #378          Regice   1.8 m   175 kg  80                      50              100              100                       200                        50              https:...
1     #467         Maganon   1.6 m    68 kg  75                      95               67              125                        95                        83              https:...
2     #660       Excava...     1 m  42.4 kg  85                      56               77               50                        77                        78              https:...
3     #686        Sepiatop   0.4 m   3.5 kg  53                      54               53               37                        46                        45              https:...
4     #376       Métalosse   1.6 m   550 kg  80                     135              130               95                        90                        70              https:...
...         ...        ...     ...      ...        ...                    ...              ...              ...                       ...                       ...              ...
1196  #193           Yanma   1.2 m    38 kg  65                      65               45               75                        45                        95              https:...
1197  #480         Créhelf   0.3 m   0.3 kg  75                      75              130               75                       130                        95              https:...
1198  #733        Bazoucan   1.1 m    26 kg  80                     120               75               75                        75                        60              https:...
1199  #502       Matelo...   0.8 m  24.5 kg  75                      75               60               83                        60                        60              https:...
1200  #547       Farfad...   0.7 m   6.6 kg  60                      67               85               77                        75                       116              https:...

[1201 rows x 11 columns]

In [11]:
# df['poids'].str.extract('(\d+)').astype(int)

In [26]:
df['id_pokemon'] = df['id_pokemon'].map(lambda x: x.lstrip('#'))

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
df

     id_pokemon nom_pokemon taille poids     Points de vie de base  Attaque de base  Défense de base  Attaque spéciale de base  Défense spéciale de base  Vitesse de base Type_pokemon1-src
0     378           Regice   1.8 m   175 kg  80                      50              100              100                       200                        50              https:...
1     467          Maganon   1.6 m    68 kg  75                      95               67              125                        95                        83              https:...
2     660        Excava...     1 m  42.4 kg  85                      56               77               50                        77                        78              https:...
3     686         Sepiatop   0.4 m   3.5 kg  53                      54               53               37                        46                        45              https:...
4     376        Métalosse   1.6 m   550 kg  80                     135              130               95                        90                        70              https:...
...         ...        ...     ...      ...        ...                    ...              ...              ...                       ...                       ...              ...
1196  193            Yanma   1.2 m    38 kg  65                      65               45               75                        45                        95              https:...
1197  480          Créhelf   0.3 m   0.3 kg  75                      75              130               75                       130                        95              https:...
1198  733         Bazoucan   1.1 m    26 kg  80                     120               75               75                        75                        60              https:...
1199  502        Matelo...   0.8 m  24.5 kg  75                      75               60               83                        60                        60              https:...
1200  547        Farfad...   0.7 m   6.6 kg  60                      67               85               77                        75                       116              https:...

[1201 rows x 11 columns]

In [28]:
df['taille'] = df['taille'].map(lambda x: x.rstrip('m'))

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
df

     id_pokemon nom_pokemon taille poids     Points de vie de base  Attaque de base  Défense de base  Attaque spéciale de base  Défense spéciale de base  Vitesse de base Type_pokemon1-src
0     378           Regice   1.8     175 kg  80                      50              100              100                       200                        50              https:...
1     467          Maganon   1.6      68 kg  75                      95               67              125                        95                        83              https:...
2     660        Excava...     1    42.4 kg  85                      56               77               50                        77                        78              https:...
3     686         Sepiatop   0.4     3.5 kg  53                      54               53               37                        46                        45              https:...
4     376        Métalosse   1.6     550 kg  80                     135              130               95                        90                        70              https:...
...         ...        ...     ...      ...        ...                    ...              ...              ...                       ...                       ...              ...
1196  193            Yanma   1.2      38 kg  65                      65               45               75                        45                        95              https:...
1197  480          Créhelf   0.3     0.3 kg  75                      75              130               75                       130                        95              https:...
1198  733         Bazoucan   1.1      26 kg  80                     120               75               75                        75                        60              https:...
1199  502        Matelo...   0.8    24.5 kg  75                      75               60               83                        60                        60              https:...
1200  547        Farfad...   0.7     6.6 kg  60                      67               85               77                        75                       116              https:...

[1201 rows x 11 columns]

In [30]:
df['poids'] = df['poids'].map(lambda x: x.rstrip('kg'))

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
df

     id_pokemon nom_pokemon taille poids   Points de vie de base  Attaque de base  Défense de base  Attaque spéciale de base  Défense spéciale de base  Vitesse de base Type_pokemon1-src
0     378           Regice   1.8     175   80                      50              100              100                       200                        50              https:...
1     467          Maganon   1.6      68   75                      95               67              125                        95                        83              https:...
2     660        Excava...     1    42.4   85                      56               77               50                        77                        78              https:...
3     686         Sepiatop   0.4     3.5   53                      54               53               37                        46                        45              https:...
4     376        Métalosse   1.6     550   80                     135              130               95                        90                        70              https:...
...         ...        ...     ...    ...        ...                    ...              ...              ...                       ...                       ...              ...
1196  193            Yanma   1.2      38   65                      65               45               75                        45                        95              https:...
1197  480          Créhelf   0.3     0.3   75                      75              130               75                       130                        95              https:...
1198  733         Bazoucan   1.1      26   80                     120               75               75                        75                        60              https:...
1199  502        Matelo...   0.8    24.5   75                      75               60               83                        60                        60              https:...
1200  547        Farfad...   0.7     6.6   60                      67               85               77                        75                       116              https:...

[1201 rows x 11 columns]

In [32]:
df['Type_pokemon1-src']=df['Type_pokemon1-src'].str.extract('(\d+)').astype(int)

C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.
C:\Users\Administrateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
df

     id_pokemon nom_pokemon taille poids   Points de vie de base  Attaque de base  Défense de base  Attaque spéciale de base  Défense spéciale de base  Vitesse de base  Type_pokemon1-src
0     378           Regice   1.8     175   80                      50              100              100                       200                        50              15
1     467          Maganon   1.6      68   75                      95               67              125                        95                        83              10
2     660        Excava...     1    42.4   85                      56               77               50                        77                        78               1
3     686         Sepiatop   0.4     3.5   53                      54               53               37                        46                        45              17
4     376        Métalosse   1.6     550   80                     135              130               95                        90                        70              14
...         ...        ...     ...    ...        ...                    ...              ...              ...                       ...                       ...              ...
1196  193            Yanma   1.2      38   65                      65               45               75                        45                        95               7
1197  480          Créhelf   0.3     0.3   75                      75              130               75                       130                        95              14
1198  733         Bazoucan   1.1      26   80                     120               75               75                        75                        60               1
1199  502        Matelo...   0.8    24.5   75                      75               60               83                        60                        60              11
1200  547        Farfad...   0.7     6.6   60                      67               85               77                        75                       116              18

[1201 rows x 11 columns]

In [34]:
df = df.rename(columns={'Type_pokemon1-src': 'type_pokemon'})

In [35]:
df.columns = df.columns.str.lower()

In [36]:
df.columns = df.columns.str.replace(' ','_')

In [43]:
df.drop_duplicates(['id_pokemon'],inplace=True)

In [44]:
df

     id_pokemon nom_pokemon taille poids   points_de_vie_de_base  attaque_de_base  défense_de_base  attaque_spéciale_de_base  défense_spéciale_de_base  vitesse_de_base  type_pokemon
0     378           Regice   1.8     175   80                      50              100              100                       200                        50              15
1     467          Maganon   1.6      68   75                      95               67              125                        95                        83              10
2     660        Excava...     1    42.4   85                      56               77               50                        77                        78               1
3     686         Sepiatop   0.4     3.5   53                      54               53               37                        46                        45              17
4     376        Métalosse   1.6     550   80                     135              130               95                        90                        70              14
...         ...        ...     ...    ...        ...                    ...              ...              ...                       ...                       ...              ...
1185   23              Abo     2     6.9   35                      60               44               40                        54                        55               4
1186  351          Morphéo   0.3     0.8   70                      70               70               70                        70                        70               1
1195  241         Écrémeuh   1.2    75.5   95                      80              105               40                        70                       100               1
1197  480          Créhelf   0.3     0.3   75                      75              130               75                       130                        95              14
1199  502        Matelo...   0.8    24.5   75                      75               60               83                        60                        60              11

[800 rows x 11 columns]

In [45]:
df.to_csv('pokemon_csv_nettoyer.csv', sep='\t', encoding='utf-8')

In [46]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

user = 'root'
passw = 'root'
host =  'localhost'  # either localhost or ip e.g. '172.17.0.2' or hostname address 
port = 3306 
database = 'test'

mydb = create_engine('mysql+pymysql://' + user + ':' + passw + '@' + host + ':' + str(port) + '/' + database , echo=False)

directory = r'C:\Users\Administrateur\Desktop\PROJET POKEMON !!'  # path of csv file
csvFileName = 'pokemon_csv_nettoyer.csv'

# df = pd.read_csv(os.path.join(directory, csvFileName ))

df.to_sql(name='pokemons', con=mydb, if_exists = 'replace', index=False)

C:\Users\Administrateur\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\x92\\xE9t\\xE9)' for column 'VARIABLE_VALUE' at row 481")
  result = self._query(query)

In [89]:
pokemon_id = pd.read_sql('SELECT * FROM pokemons where id_pokemon=1', mydb)

In [90]:
pokemon_id

  id_pokemon nom_pokemon taille poids  points_de_vie_de_base  attaque_de_base  défense_de_base  attaque_spéciale_de_base  défense_spéciale_de_base  vitesse_de_base  type_pokemon
0  1          Bulbiz...   0.7    6.9   45                     49               49               65                        65                        45               4

In [56]:
# df.sort_values(by=['id_pokemon'])

In [66]:
pokemon_max_attaque = pd.read_sql('SELECT nom_pokemon,MAX(attaque_de_base) FROM pokemons', mydb)

In [68]:
pokemon_max_attaque

  nom_pokemon  MAX(attaque_de_base)
0  Regice      181

In [93]:
requete='INSERT INTO test VALUES (?)'
for i in range(1, 4):
    print(i)
    insertion = pd.read_sql(requete,i, mydb)

1

AttributeError: 'int' object has no attribute 'cursor'

In [102]:
rows = []
nom_columns = ['id_pokemon']

for i in range(0,151):
    row = [i]
    rows.append(row)

df_génération_1 = pd.DataFrame(rows, columns=nom_columns)

In [103]:
df_génération_1

     id_pokemon
0      0
1      1
2      2
3      3
4      4
..         ...
146  146
147  147
148  148
149  149
150  150

[151 rows x 1 columns]