In [1]:
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
os.getcwd()

'C:\\Users\\Administrateur\\Desktop\\Data\\DATA'

In [3]:
os.chdir(r'C:\Users\Administrateur\Desktop\PROJET POKEMON !!')
#Chemin Miguel
# os.chdir(r'C:\Users\Raed\DATA\chef_oeuvre-master')
#Chemin Raed

In [4]:
os.getcwd()

'C:\\Users\\Administrateur\\Desktop\\PROJET POKEMON !!'

In [5]:
import pandas as pd

In [6]:
# names=['id_pokemon','nom_pokemon','Name', 'taille', 'poids', 'Pre-Test Score', 'Points de vie de base','Attaque de base','Défense de base','Attaque spéciale de base','Défense spéciale de base','Vitesse de base']

# Lecture du CSV

In [7]:
df_csv = pd.read_csv('pokemon.csv')

In [8]:
df_csv

     web-scraper-order web-scraper-start-url pokemon_normaux pokemon_normaux-href id_pokemon nom_pokemon taille poids     Points de vie de base  Attaque de base  Défense de base  Attaque spéciale de base  Défense spéciale de base  Vitesse de base Type_pokemon1-src
0     153053...         https:...                Regice       https:...            #378          Regice   1.8 m   175 kg  80                      50              100              100                       200                        50              https:...
1     153053...         https:...               Maganon       https:...            #467         Maganon   1.6 m    68 kg  75                      95               67              125                        95                        83              https:...
2     153053...         https:...             Excava...       https:...            #660       Excava...     1 m  42.4 kg  85                      56               77               50                        77                        78              https:...
3     153053...         https:...              Sepiatop       https:...            #686        Sepiatop   0.4 m   3.5 kg  53                      54               53               37                        46                        45              https:...
4     153053...         https:...             Métalosse       https:...            #376       Métalosse   1.6 m   550 kg  80                     135              130               95                        90                        70              https:...
...         ...               ...                   ...             ...                  ...        ...     ...      ...        ...                    ...              ...              ...                       ...                       ...              ...
1196  153053...         https:...                 Yanma       https:...            #193           Yanma   1.2 m    38 kg  65                      65               45               75                        45                        95              https:...
1197  153053...         https:...               Créhelf       https:...            #480         Créhelf   0.3 m   0.3 kg  75                      75              130               75                       130                        95              https:...
1198  153053...         https:...              Bazoucan       https:...            #733        Bazoucan   1.1 m    26 kg  80                     120               75               75                        75                        60              https:...
1199  153053...         https:...             Matelo...       https:...            #502       Matelo...   0.8 m  24.5 kg  75                      75               60               83                        60                        60              https:...
1200  153053...         https:...             Farfad...       https:...            #547       Farfad...   0.7 m   6.6 kg  60                      67               85               77                        75                       116              https:...

[1201 rows x 15 columns]

# Nettoyage du csv

In [9]:
df=df_csv[['id_pokemon','nom_pokemon', 'taille', 'poids', 'Points de vie de base','Attaque de base','Défense de base','Attaque spéciale de base','Défense spéciale de base','Vitesse de base','Type_pokemon1-src']]

In [10]:
df.sort_index()

     id_pokemon nom_pokemon taille poids     Points de vie de base  Attaque de base  Défense de base  Attaque spéciale de base  Défense spéciale de base  Vitesse de base Type_pokemon1-src
0     #378          Regice   1.8 m   175 kg  80                      50              100              100                       200                        50              https:...
1     #467         Maganon   1.6 m    68 kg  75                      95               67              125                        95                        83              https:...
2     #660       Excava...     1 m  42.4 kg  85                      56               77               50                        77                        78              https:...
3     #686        Sepiatop   0.4 m   3.5 kg  53                      54               53               37                        46                        45              https:...
4     #376       Métalosse   1.6 m   550 kg  80                     135              130               95                        90                        70              https:...
...         ...        ...     ...      ...        ...                    ...              ...              ...                       ...                       ...              ...
1196  #193           Yanma   1.2 m    38 kg  65                      65               45               75                        45                        95              https:...
1197  #480         Créhelf   0.3 m   0.3 kg  75                      75              130               75                       130                        95              https:...
1198  #733        Bazoucan   1.1 m    26 kg  80                     120               75               75                        75                        60              https:...
1199  #502       Matelo...   0.8 m  24.5 kg  75                      75               60               83                        60                        60              https:...
1200  #547       Farfad...   0.7 m   6.6 kg  60                      67               85               77                        75                       116              https:...

[1201 rows x 11 columns]

In [11]:
# df['poids'].str.extract('(\d+)').astype(int)

In [12]:
df['id_pokemon'] = df['id_pokemon'].map(lambda x: x.lstrip('#'))

In [13]:
df

     id_pokemon nom_pokemon taille poids     Points de vie de base  Attaque de base  Défense de base  Attaque spéciale de base  Défense spéciale de base  Vitesse de base Type_pokemon1-src
0     378           Regice   1.8 m   175 kg  80                      50              100              100                       200                        50              https:...
1     467          Maganon   1.6 m    68 kg  75                      95               67              125                        95                        83              https:...
2     660        Excava...     1 m  42.4 kg  85                      56               77               50                        77                        78              https:...
3     686         Sepiatop   0.4 m   3.5 kg  53                      54               53               37                        46                        45              https:...
4     376        Métalosse   1.6 m   550 kg  80                     135              130               95                        90                        70              https:...
...         ...        ...     ...      ...        ...                    ...              ...              ...                       ...                       ...              ...
1196  193            Yanma   1.2 m    38 kg  65                      65               45               75                        45                        95              https:...
1197  480          Créhelf   0.3 m   0.3 kg  75                      75              130               75                       130                        95              https:...
1198  733         Bazoucan   1.1 m    26 kg  80                     120               75               75                        75                        60              https:...
1199  502        Matelo...   0.8 m  24.5 kg  75                      75               60               83                        60                        60              https:...
1200  547        Farfad...   0.7 m   6.6 kg  60                      67               85               77                        75                       116              https:...

[1201 rows x 11 columns]

In [14]:
df['taille'] = df['taille'].map(lambda x: x.rstrip('m'))

In [15]:
df

     id_pokemon nom_pokemon taille poids     Points de vie de base  Attaque de base  Défense de base  Attaque spéciale de base  Défense spéciale de base  Vitesse de base Type_pokemon1-src
0     378           Regice   1.8     175 kg  80                      50              100              100                       200                        50              https:...
1     467          Maganon   1.6      68 kg  75                      95               67              125                        95                        83              https:...
2     660        Excava...     1    42.4 kg  85                      56               77               50                        77                        78              https:...
3     686         Sepiatop   0.4     3.5 kg  53                      54               53               37                        46                        45              https:...
4     376        Métalosse   1.6     550 kg  80                     135              130               95                        90                        70              https:...
...         ...        ...     ...      ...        ...                    ...              ...              ...                       ...                       ...              ...
1196  193            Yanma   1.2      38 kg  65                      65               45               75                        45                        95              https:...
1197  480          Créhelf   0.3     0.3 kg  75                      75              130               75                       130                        95              https:...
1198  733         Bazoucan   1.1      26 kg  80                     120               75               75                        75                        60              https:...
1199  502        Matelo...   0.8    24.5 kg  75                      75               60               83                        60                        60              https:...
1200  547        Farfad...   0.7     6.6 kg  60                      67               85               77                        75                       116              https:...

[1201 rows x 11 columns]

In [16]:
df['poids'] = df['poids'].map(lambda x: x.rstrip('kg'))

In [17]:
df

     id_pokemon nom_pokemon taille poids   Points de vie de base  Attaque de base  Défense de base  Attaque spéciale de base  Défense spéciale de base  Vitesse de base Type_pokemon1-src
0     378           Regice   1.8     175   80                      50              100              100                       200                        50              https:...
1     467          Maganon   1.6      68   75                      95               67              125                        95                        83              https:...
2     660        Excava...     1    42.4   85                      56               77               50                        77                        78              https:...
3     686         Sepiatop   0.4     3.5   53                      54               53               37                        46                        45              https:...
4     376        Métalosse   1.6     550   80                     135              130               95                        90                        70              https:...
...         ...        ...     ...    ...        ...                    ...              ...              ...                       ...                       ...              ...
1196  193            Yanma   1.2      38   65                      65               45               75                        45                        95              https:...
1197  480          Créhelf   0.3     0.3   75                      75              130               75                       130                        95              https:...
1198  733         Bazoucan   1.1      26   80                     120               75               75                        75                        60              https:...
1199  502        Matelo...   0.8    24.5   75                      75               60               83                        60                        60              https:...
1200  547        Farfad...   0.7     6.6   60                      67               85               77                        75                       116              https:...

[1201 rows x 11 columns]

# Modification de la colonne Type pokemon

In [18]:
df['Type_pokemon1-src'] = df['Type_pokemon1-src'].str.extract('(\d+)').astype(int)

In [19]:
df

     id_pokemon nom_pokemon taille poids   Points de vie de base  Attaque de base  Défense de base  Attaque spéciale de base  Défense spéciale de base  Vitesse de base  Type_pokemon1-src
0     378           Regice   1.8     175   80                      50              100              100                       200                        50              15
1     467          Maganon   1.6      68   75                      95               67              125                        95                        83              10
2     660        Excava...     1    42.4   85                      56               77               50                        77                        78               1
3     686         Sepiatop   0.4     3.5   53                      54               53               37                        46                        45              17
4     376        Métalosse   1.6     550   80                     135              130               95                        90                        70              14
...         ...        ...     ...    ...        ...                    ...              ...              ...                       ...                       ...              ...
1196  193            Yanma   1.2      38   65                      65               45               75                        45                        95               7
1197  480          Créhelf   0.3     0.3   75                      75              130               75                       130                        95              14
1198  733         Bazoucan   1.1      26   80                     120               75               75                        75                        60               1
1199  502        Matelo...   0.8    24.5   75                      75               60               83                        60                        60              11
1200  547        Farfad...   0.7     6.6   60                      67               85               77                        75                       116              18

[1201 rows x 11 columns]

In [20]:
df = df.rename(columns={'Type_pokemon1-src': 'type_pokemon'})

# Modification de Names Index dans le DF

In [21]:
df.columns = df.columns.str.lower()

In [22]:
df.columns = df.columns.str.replace(' ', '_')

# Suppression des doublons

In [23]:
df.drop_duplicates(['id_pokemon'], inplace=True)

In [24]:
df

     id_pokemon nom_pokemon taille poids   points_de_vie_de_base  attaque_de_base  défense_de_base  attaque_spéciale_de_base  défense_spéciale_de_base  vitesse_de_base  type_pokemon
0     378           Regice   1.8     175   80                      50              100              100                       200                        50              15
1     467          Maganon   1.6      68   75                      95               67              125                        95                        83              10
2     660        Excava...     1    42.4   85                      56               77               50                        77                        78               1
3     686         Sepiatop   0.4     3.5   53                      54               53               37                        46                        45              17
4     376        Métalosse   1.6     550   80                     135              130               95                        90                        70              14
...         ...        ...     ...    ...        ...                    ...              ...              ...                       ...                       ...              ...
1185   23              Abo     2     6.9   35                      60               44               40                        54                        55               4
1186  351          Morphéo   0.3     0.8   70                      70               70               70                        70                        70               1
1195  241         Écrémeuh   1.2    75.5   95                      80              105               40                        70                       100               1
1197  480          Créhelf   0.3     0.3   75                      75              130               75                       130                        95              14
1199  502        Matelo...   0.8    24.5   75                      75               60               83                        60                        60              11

[800 rows x 11 columns]

# Enregistrement du CSV nettoyer

In [25]:
df.to_csv('pokemon_csv_nettoyer.csv', sep='\t', encoding='utf-8')

# Connexion à notre base de données + création de la table pokemons

In [26]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine  #crée la connexion à la bdd
from sqlalchemy.types import *  #Add des types dans la bdd


user = 'root'
passw = 'root'
host = 'localhost'
port = 3306
database = 'pokemon'

mydb = create_engine(
    'mysql+pymysql://' + user + ':' + passw + '@' + host + ':' + str(port) +
    '/' + database,
    echo=False)

# directory = r'C:\Users\Administrateur\Desktop\PROJET POKEMON !!'  # path of csv file
# csvFileName = 'pokemon_csv_nettoyer.csv'

# df = pd.read_csv(os.path.join(directory, csvFileName ))

In [27]:
df.to_sql(
    name='pokemons',
    con=mydb,
    if_exists='replace',
    index=False,
    dtype={
        'id_pokemon': INT(),
        'nom_pokemon': VARCHAR(255),
        'taille': NUMERIC(),
        'poids': NUMERIC(),
        'points_de_vie_de_base': INT(),
        'attaque_de_base': INT(),
        'défense_de_base': INT(),
        'attaque_spéciale_de_base': INT(),
        'défense_spéciale_de_base': INT(),
        'vitesse_de_base': INT(),
        'type_pokemon': INT()
    })

In [28]:
df

     id_pokemon nom_pokemon taille poids   points_de_vie_de_base  attaque_de_base  défense_de_base  attaque_spéciale_de_base  défense_spéciale_de_base  vitesse_de_base  type_pokemon
0     378           Regice   1.8     175   80                      50              100              100                       200                        50              15
1     467          Maganon   1.6      68   75                      95               67              125                        95                        83              10
2     660        Excava...     1    42.4   85                      56               77               50                        77                        78               1
3     686         Sepiatop   0.4     3.5   53                      54               53               37                        46                        45              17
4     376        Métalosse   1.6     550   80                     135              130               95                        90                        70              14
...         ...        ...     ...    ...        ...                    ...              ...              ...                       ...                       ...              ...
1185   23              Abo     2     6.9   35                      60               44               40                        54                        55               4
1186  351          Morphéo   0.3     0.8   70                      70               70               70                        70                        70               1
1195  241         Écrémeuh   1.2    75.5   95                      80              105               40                        70                       100               1
1197  480          Créhelf   0.3     0.3   75                      75              130               75                       130                        95              14
1199  502        Matelo...   0.8    24.5   75                      75               60               83                        60                        60              11

[800 rows x 11 columns]

In [29]:
pokemon_id = pd.read_sql('SELECT * FROM pokemons where id_pokemon=801', mydb)

In [30]:
pokemon_id

   id_pokemon nom_pokemon  taille  poids  points_de_vie_de_base  attaque_de_base  défense_de_base  attaque_spéciale_de_base  défense_spéciale_de_base  vitesse_de_base  type_pokemon
0  801         Magearna    1.0     81.0   80                     95               115              130                       115                       65               9

In [31]:
# df.sort_values(by=['id_pokemon'])

In [32]:
# requete='INSERT INTO test VALUES (?)'
# for i in range(1, 4):
#     print(i)
#     insertion = pd.read_sql(requete,i, mydb)

# scraping generation

# generation 1

In [33]:
df1 = pd.read_html('https://www.pokepedia.fr/Liste_des_Pok%C3%A9mon_par_localisation_dans_les_jeux_vid%C3%A9o_de_la_premi%C3%A8re_g%C3%A9n%C3%A9ration',header=0)[0]

In [34]:
df1.head()

   Numéro Pokémon     Miniature Rareté     Lieu dans Pokémon Rouge et Bleu Lieu dans Pokémon Jaune
0  1       Bulbiz... NaN            Unique  L'un d...                       Centre...
1  2       Herbiz... NaN         Évolution  Faire ...                       Faire ...
2  3       Floriz... NaN         Évolution  Faire ...                       Faire ...
3  4       Salamèche NaN            Unique  L'un d...                       Donné ...
4  5       Reptincel NaN         Évolution  Faire ...                       Faire ...

#######netoyer les donnees

In [35]:
df1= df1[['Numéro','Pokémon']]

In [36]:
df1.columns = ['numero','pokemon']

# generation 2

In [37]:
df2 = pd.read_html('https://www.pokepedia.fr/Liste_des_Pok%C3%A9mon_de_la_deuxi%C3%A8me_g%C3%A9n%C3%A9ration',header=0)[0]

####netoyer les donnees

In [38]:
df2 = df2[['Numéro','Nom français']]

In [39]:
df2.columns = ['numero','nom_français']

# generation 3

In [40]:
df3 = pd.read_html('https://www.pokepedia.fr/Liste_des_Pok%C3%A9mon_de_la_troisi%C3%A8me_g%C3%A9n%C3%A9ration',header=0)[0]

####netoyer les données

In [41]:
df3 = df3[['Numéro','Nom français']]

In [42]:
df3.columns = ['numero','nom_français']

# generation 4

In [43]:
df4 = pd.read_html('https://www.pokepedia.fr/Liste_des_Pok%C3%A9mon_de_la_quatri%C3%A8me_g%C3%A9n%C3%A9ration',header=0)[0]

########### netoyer les donnees

In [44]:
df4 = df4[['Numéro','Nom français']]

In [45]:
df4.columns = ['numero','nom_français']

# generation 5

In [46]:
df5 = pd.read_html('https://www.pokepedia.fr/Liste_des_Pok%C3%A9mon_de_la_cinqui%C3%A8me_g%C3%A9n%C3%A9ration',header=0)[0]

###### netoyer les donnees

In [47]:
df5 =df5[['Numéro national','Nom français']]

In [48]:
df5.columns = ['numero','nom_français']

# generation 6

In [49]:
df6 = pd.read_html('https://www.pokepedia.fr/Liste_des_Pok%C3%A9mon_de_la_sixi%C3%A8me_g%C3%A9n%C3%A9ration',header=0)[0]

########## netoyer les données

In [50]:
df6= df6[['Numéro','Nom français']]

In [51]:
df6.columns = ['numero','nom_français']

# generation 7

In [52]:
df7 = pd.read_html('https://www.pokepedia.fr/Liste_des_Pok%C3%A9mon_par_localisation_dans_les_jeux_vid%C3%A9o_de_la_septi%C3%A8me_g%C3%A9n%C3%A9ration',header=0)[0]

###### netoyer les données

In [53]:
df7 = df7[['Pokémon','Rareté']]

In [54]:
df7.columns = ['numero','nom_français']

# Creation des tables génération des pokemons

# generation_1

In [55]:
#df_generation_1

In [56]:
#rows = []
#nom_columns = ['id_pokemon']

#for i in range(1, 152):
  #  row = [i]
  #  rows.append(row)

#df_generation_1 = pd.DataFrame(rows, columns=nom_columns)

In [57]:
#df_generation_1.to_sql(
   # name='generation_1',
    #con=mydb,
  #  if_exists='replace',
   # index=False,
   # dtype={"id_pokemon": Integer()})

In [58]:
df1.to_sql(name='generation_1',con=mydb,if_exists='replace',index=False,dtype={'numero':INT(),'pokemon':VARCHAR(255)})

# generation_2

In [59]:
#rows = []
#nom_columns = ['id_pokemon']

#for i in range(152, 252):
   # row = [i]
   # rows.append(row)

#df_generation_2 = pd.DataFrame(rows, columns=nom_columns)

In [60]:
#df_generation_2

In [61]:
#df_generation_2.to_sql(
  #  name='generation_2',
    #con=mydb,
  #  if_exists='replace',
   # index=False,
    #dtype={"id_pokemon": Integer()})

In [62]:
df2.to_sql(name='generation_2',con=mydb,if_exists='replace',index=False,dtype={'numero':INT(),'nom_français':VARCHAR(255)})

# generation_3

In [63]:
#rows = []
#nom_columns = ['id_pokemon']

#for i in range(252, 387):
   # row = [i]
   # rows.append(row)

#df_generation_3 = pd.DataFrame(rows, columns=nom_columns)

In [64]:
#df_generation_3

In [65]:
#df_generation_3.to_sql(
   # name='generation_3',
    #con=mydb,
   # if_exists='replace',
   # index=False,
   # dtype={'id_pokemon': INT()})

In [66]:
df3.to_sql(name='generation_3',con=mydb,if_exists='replace',index=False,dtype={'numero':INT(),'nom_français':VARCHAR(255)})

# generation_4

In [67]:
# rows = []
#nom_columns = ['id_pokemon']

#for i in range(387, 494):
   # row = [i]
    #rows.append(row)

#df_generation_4 = pd.DataFrame(rows, columns=nom_columns)

In [68]:
#df_generation_4

In [69]:
#df_generation_4.to_sql(
  #  name='generation_4',
 #   con=mydb,
  ##  if_exists='replace',
 #   index=False,
  #  dtype={'id_pokemon': INT()})

In [70]:
df4.to_sql(name='generation_4',con=mydb,if_exists='replace',index=False,dtype={'numero':INT(),'nom_français':VARCHAR(255)})

# generation_5

In [71]:
#rows = []
#nom_columns = ['id_pokemon']

#for i in range(494, 650):
  #  row = [i]
  #  rows.append(row)

#df_generation_5 = pd.DataFrame(rows, columns=nom_columns)

In [72]:
#df_generation_5

In [73]:
#df_generation_5.to_sql(
   # name='generation_5',
   # con=mydb,
   # if_exists='replace',
   # index=False,
    #dtype={'id_pokemon': INT()})

In [74]:
df5.to_sql(name='generation_5',con=mydb,if_exists='replace',index=False,dtype={'numero':INT(),'nom_français':VARCHAR(255)})

# generation_6

In [75]:
#rows = []
#nom_columns = ['id_pokemon']

#for i in range(650, 722):
   # row = [i]
    #rows.append(row)

#df_generation_6 = pd.DataFrame(rows, columns=nom_columns)

In [76]:
#df_generation_6

In [77]:
#df_generation_6.to_sql(
  #  name='generation_6',
  #  con=mydb,
  #  if_exists='replace',
   # index=False,
   # dtype={'id_pokemon': INT()})

In [78]:
df6.to_sql(name='generation_6',con=mydb,if_exists='replace',index=False,dtype={'numero':INT(),'nom_français':VARCHAR(255)})

# generation_7

In [79]:
#rows = []
#nom_columns = ['id_pokemon']

#for i in range(722, 802):
   # row = [i]
   # rows.append(row)

#df_generation_7 = pd.DataFrame(rows, columns=nom_columns)

In [80]:
#df_generation_7

In [81]:
#df_generation_7.to_sql(
    #name='generation_7',
  #  con=mydb,
   ## if_exists='replace',
   # index=False,
  #  dtype={'id_pokemon': INT()})

In [82]:
df7.to_sql(name='generation_7',con=mydb,if_exists='replace',index=False,dtype={'numero':INT(),'nom_français':VARCHAR(255)})

# Creation de la table utilisateur/player

In [83]:
dic1 = {
    'id_player': [1, 2, 3, 4, 5],
    'nom': ['William', 'Bukhary', 'Miguel', 'Alex', 'Kerian'],
    'prenom': ['Pollet', 'Raed', 'Nasim', 'Ludvoic', 'Kevin'],
    'address': [
        'william@gmail.com', 'Bukhary@gmail.com', 'Miguel@gmail.com',
        'Alex@gmail.com', 'Kerian@gmail.com'
    ],
    'ville': ['Paris', 'Nantes', 'Koln', 'Los Anglos', 'Miami']
}
player = pd.DataFrame(
    dic1, columns=['id_player', 'nom', 'prenom', 'address', 'ville'])

In [84]:
player

   id_player nom      prenom   address    ville
0  1          William   Pollet  willia...      Paris
1  2          Bukhary     Raed  Bukhar...     Nantes
2  3           Miguel    Nasim  Miguel...       Koln
3  4             Alex  Ludvoic  Alex@g...  Los An...
4  5           Kerian    Kevin  Kerian...      Miami

In [85]:
df.to_sql(
    name='table_player',
    con=mydb,
    if_exists='replace',
    index=False,
    dtype={
        'id_player': INT(),
        'nom': VARCHAR(255),
        'prenom': VARCHAR(255),
        'adresse': VARCHAR(255),
        'email': VARCHAR(255)
    })

# Creation de la table type pokemon + nom du type

In [86]:
dic = {
    'tee': 1,
    'normal': 2,
    'combat': 3,
    'vol': 4,
    'poison': 5,
    'sol': 6,
    'roch': 7,
    'insecte': 8,
    'spectre': 9,
    'acier': 10,
    'feu': 11,
    'eau': 12,
    'plante': 13,
    'electrique': 14,
    'psy': 15,
    'glace': 16,
    'drogon': 17,
    'tenebres': 18
}

In [87]:
df_type = pd.DataFrame(
    {
        'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
        'nom_du_type': [
            'tee', 'normal', 'combat', 'vol', 'poison', 'sol', 'roch',
            'insecte', 'spectre', 'acier', 'feu', 'eau', 'plante',
            'electrique', 'psy', 'glace', 'drogon', 'tenebres'
        ]
    },
    columns=['id', 'nom_du_type'])

In [88]:
df_type

    id nom_du_type
0    1        tee
1    2     normal
2    3     combat
3    4        vol
4    5     poison
..  ..        ...
13  14  electr...
14  15        psy
15  16      glace
16  17     drogon
17  18   tenebres

[18 rows x 2 columns]

In [89]:
df_type.to_sql(
    name='type_pokemon',
    con=mydb,
    if_exists='replace',
    index=False,
    dtype={
        'id': INT(),
        'nom_du_type': VARCHAR(255)
    })

# Requetes demander pour la dataViz

## Requete SQL attaque Pokemon

In [90]:
pokemon_max_attaque = pd.read_sql(
    'select nom_pokemon,attaque_de_base from pokemons where attaque_de_base = (select max(attaque_de_base)from pokemons)',
    mydb)

In [91]:
pokemon_max_attaque

  nom_pokemon  attaque_de_base
0  Katagami    181

In [92]:
pokemon_min_attaque = pd.read_sql(
    'select nom_pokemon,attaque_de_base from pokemons where attaque_de_base = (select min(attaque_de_base)from pokemons)',
    mydb)

In [93]:
pokemon_min_attaque

  nom_pokemon  attaque_de_base
0    Ptiravi   5
1  Leveinard   5

## Requete SQL defense pokemon

In [94]:
pokemon_max_defense = pd.read_sql(
    'select nom_pokemon,défense_de_base from pokemons where défense_de_base = (select max(défense_de_base)from pokemons)',
    mydb)

In [95]:
pokemon_max_defense

  nom_pokemon  défense_de_base
0  Caratroc    230

In [96]:
pokemon_min_defense = pd.read_sql(
    'select nom_pokemon,défense_de_base from pokemons where défense_de_base = (select min(défense_de_base)from pokemons)',
    mydb)

In [97]:
pokemon_min_defense

  nom_pokemon  défense_de_base
0    Ptiravi   5
1  Leveinard   5

# Visualisation DataViz

## Pokemon le plus puissant en attaque toute génération confondues (resp. le moins puissant)

In [98]:
dataviz = pd.concat([pokemon_max_attaque, pokemon_min_attaque,pokemon_max_defense,pokemon_min_defense], ignore_index=True)

In [99]:
dataviz

   attaque_de_base  défense_de_base nom_pokemon
0  181.0              NaN             Katagami
1    5.0              NaN              Ptiravi
2    5.0              NaN            Leveinard
3    NaN            230.0             Caratroc
4    NaN              5.0              Ptiravi
5    NaN              5.0            Leveinard

In [100]:
test=dataviz.plot(kind='bar', x='nom_pokemon', y=['attaque_de_base', 'défense_de_base'], figsize=(10,5), grid=True,rot=0)

# Comparaison de pokemon par l'utilisateur via leur noms

In [101]:
print('Veuillez entre le nom du 1er pokemon')
premier_pokemon = input()
pokemon1 = pd.read_sql(
    'select * from pokemons where nom_pokemon=%(premier_pokemon)s',
    mydb,
    params={'premier_pokemon': premier_pokemon})
# pokemon1
print('Veuillez entre le nom du 2ème pokemon')
deuxieme_pokemon = input()
pokemon2 = pd.read_sql(
    'select * from pokemons where nom_pokemon=%(deuxieme_pokemon)s',
    mydb,
    params={'deuxieme_pokemon': deuxieme_pokemon})
# pokemon2
compa_pokemon = pd.concat([pokemon1, pokemon2], ignore_index=True)
compa_pokemon

Veuillez entre le nom du 1er pokemon
Pikachu
Veuillez entre le nom du 2ème pokemon
Abra

   id_pokemon nom_pokemon  taille  poids  points_de_vie_de_base  attaque_de_base  défense_de_base  attaque_spéciale_de_base  défense_spéciale_de_base  vitesse_de_base  type_pokemon
0  25          Pikachu     0.0      6.0   35                     55               40                50                       50                        90               13
1  63             Abra     1.0     20.0   25                     20               15               105                       55                        90               14

In [102]:
take_max=compa_pokemon[['points_de_vie_de_base','attaque_de_base','défense_de_base','attaque_spéciale_de_base','défense_spéciale_de_base']].max().max()

In [103]:
take_max

105

In [104]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.tools
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot


plotly.tools.set_credentials_file(username='Mendoza_Miguel', api_key='fQ5ZcZYDYaYjCZz8r7El')

plotly.offline.init_notebook_mode(connected=True) #iplot hors-ligne

data = [go.Scatterpolar(
    r = [compa_pokemon.taille[0], compa_pokemon.poids[0],compa_pokemon.points_de_vie_de_base[0], compa_pokemon.attaque_de_base[0], compa_pokemon.attaque_spéciale_de_base[0], compa_pokemon.vitesse_de_base[0]],
    theta = ['taille','poids','points_de_vie', 'att_base', 'att_sp', 'vit_att'],
#     fill = 'toself',
    name = premier_pokemon
),
go.Scatterpolar(
    r = [compa_pokemon.taille[1], compa_pokemon.poids[1],compa_pokemon.points_de_vie_de_base[1], compa_pokemon.attaque_de_base[1], compa_pokemon.attaque_spéciale_de_base[1], compa_pokemon.vitesse_de_base[1]],
    theta = ['taille','poids','points_de_vie', 'att_base', 'att_sp', 'vit_att'],
#     fill = 'toself',
    name = deuxieme_pokemon
)]

layout = go.Layout(
  polar = dict(
    radialaxis = dict(
      visible = True,
      range = [0,take_max]
    )
  ),
  showlegend = True
    
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig)